.brewery {
  padding-bottom: 2%;
}

.brewE {
  margin: 0;
}

.breweries {
  font-size: 1em;
}

@media screen and (max-width: 650px) {
  .breweries {
    font-size: .8em;
  }
}

@media screen and (max-width: 300px) {
  .breweries {
    font-size: .9em;
  }
}