.loading {
  text-align: center;
}

.event-view-container {
  width: 90%;
  height: 68%;
  display: flex;
  justify-content: center;
}

.event-details {
  padding: 3% 0% 0% 3%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.event-ticket-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.event-text {
  padding: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event-headers {
  text-align: center;
}

.event-image {
  margin-top: 2%;
  width: 100%;
  border-radius: 10px;
}

.save-button {
  padding-top: 1%;
  border: none;
  border-radius: 5px;
  background-color: rgb(170, 170, 170);
  width: 100%;
  font-size: .8em;
}

.save-button:hover {
  background-color: rgb(145, 145, 145);
}

.event-name, .element {
  padding-bottom: 1%;
  padding-top: 1%;
}

.url {
  padding-bottom: 5%;
  padding-top: 4%;
}

.event-name, .element {
  margin: 0;
}

.breweries-container {
  width: 20%;
  height: 30em;
  overflow: scroll;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1% 0% 0% 3%;
  margin: 3% 0% 0% 3%;
  
}
.pop-saved {
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
}

@media screen and (max-width: 1800px) {
  .save-button {
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .event-headers h1 {
    font-size: 1.7em;
  }
  .event-headers h2 {
    font-size: 1em;
  }
  .save-button {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .event-details {
    width: 50%;
  }
  .save-button {
    width: 65%;
  }
} 

@media screen and (max-width: 950px) {
  .event-view-container {
    flex-direction: column;
    align-items: center;
  }
  .event-text {
    font-size: 1.2em;
  }
  .breweries-container {
    width: 70%;
    font-size: 1.2em;
  }
  .event-details {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .event-view-container {
    flex-direction: column;
    align-items: center;
  }
  .breweries-container {
    font-size: 1em;
  }
  .save-button {
    width: 55%;
  }
}

@media screen and (max-width: 650px) {
  .event-view-container {
    width: 100%;
  }
  .breweries-container, .event-details {
    width: 68%;
  }
  .event-text {
    font-size: .8em;
  }
  .brew-header {
    font-size: 1.5em;
  }
  .brewE, .brew-link {
    font-size: 1em;
  }
  .event-name {
    font-size: 2em;
  }
  .save-button {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .event-headers h1 {
    font-size: 1.5em;
  }
  .event-details {
    width: 85%;
  }
  .event-ticket-details {
    width: 60%;
  }
  .breweries-container {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .event-text {
    font-size: .8em;
  }
  .event-ticket-details {
    width: 65%;
  }
  .breweries-container {
    font-size: .7em;
  }
}

@media screen and (max-width: 300px) {
  .event-ticket-details {
    width: 70%;
  }
}