.search-form {
  height: 10%;
  display: flex;
  padding: 1%;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 45%;
}

.inputs {
  height: 3em;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.search-header {
  margin: 0;
  height: 50%;
}

input {
  width: 45%;
}

@media screen and (max-width: 600px) {
  input {
    width: 95%;
  }
}