.header {
  background-color: rgb(20, 33, 61);
  font-family: 'Bangers', cursive;
  background-position: center;
  color: rgb(252, 163, 17);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100%;
}

.app-name {
  font-size: 6em;
  letter-spacing: 10px;
}

.link {
  color:rgb(252, 163, 17);
  font-size: 2em;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  .app-name {
    font-size: 4em;
  }
}

@media screen and (max-width: 660px) {
  .app-name {
    font-size: 3em;
  }
  .link  {
    font-size: 1em;
  }
}

@media screen and (max-width: 370px) {
  .app-name {
    font-size: 1.5em;
    letter-spacing: 5px;
  }
  .link  {
    font-size: 1em;
  }
}