.event-card {
  padding-bottom: 10%;
}

.event-images {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 2px rgb(20 33 61);
}

/* .event-info {
  width: 100%;
  height: 41%;
  position: relative;
  color: rgb(0, 0, 0);
  bottom: 48%;
  text-align: left;
} */

.name {
  font-size: 1.3em;
}

.name, .venue, .date {
  margin: 0;
  text-align: center;
}

/* p {
  margin: 0;
  padding-left: 2%; 
  text-align: center;
} */


