.event-card {
  padding-bottom: 10%;
}

.event-images {
  width: 100%;
  border-radius: 5px;
}

.name {
  font-size: 1.3em;
}

.name, .venue, .date {
  margin: 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .event-card {
    padding-bottom: 12%;
  }
}

@media screen and (max-width: 300px) {
  .event-card {
    padding-bottom: 16%;
  }
  .event-images {
    margin-bottom: 4%;
  }
}